header h1{
    font-size: 60px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
header h2{
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-top: -50px;
}
p{
    display: inline;
}
.p_nav_1{
    text-align: left;
}
.p_nav_2{
    text-align: center;
}
.p_nav_3{
    text-align: right;
}

section{
    background-color: aqua;
}
.empty_div_1{
    background-color: black;
    width: 3px;
    height: auto;
}
.empty_div_2{
    background-color:black;
    width: 3px;
    height: auto;
}
/* div{
    text-align: justify;
    margin: 10px;
} */
.corner_div{
    border: 1px solid black;
    width: 98%;
    height: 95%;
    align-self: center;
    margin-top: 0.8mm;
    margin-left: 0.5mm;
}
header h3{
    font-size: 17px;
    margin-top: -1px;
    margin-left: 10px;
}
.corner_div div{
    padding-left: 5px;
    margin-left:5px;
    width: 90%;
    height: 95%;
}
.corner_div p{
    font-size: 10px;
}
.corner_parent_div{
    border: 1px solid black;
    width: 280px;
    height: 140px;
    align-items: center;
    float: right;
    
}
.content_div{
    display: flex;
}
.content_div div{
    margin-left:10px;
    text-align: justify;
}